<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <main class="wrap">
        {{{body}}}
    </main>
    <a class="about-link" href="/about">💃</a>
    <div class="bottom-actions">
        <a class="button primary disabled" id="shuffler">Shuffle</a>
        <a class="button" href="/subscribe" data-portal>Subscribete</a>
    </div>
    {{ghost_foot}}
</body>
<script src="{{asset 'assets/built/casper.js'}}" async></script>
</html>
