<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    <style>
        html,
        body {
            margin: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: sans-serif;
        }

        .wrap {
            max-width: 160ch;
            /* These paddings help make the content off-center */
            padding-right: 25ch;
            padding-top: 5ch;
            margin: 0 auto;
        }

        time {
            display: block;
            color: gray;
            font-size: 0.95em;
            padding-top: 0.75em;
            padding-bottom: 2.5em;
        }

        .button {
            border: none;
            background: transparent;
            padding: 12px 24px;
            border-radius: 2px;
            font-weight: bold;
            cursor: pointer;
        }

        .button.primary {
            background: #2B2B2B;
            color: white;
        }

        .button.disabled {
            background-color: gray;
            cursor: not-allowed;
        }

        .button:not(.disabled):hover {
            background: purple;
        }
    </style>
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="viewport">
        <main>
            {{{body}}}
        </main>

        <footer class="site-footer outer">
        </footer>
    </div>
    {{ghost_foot}}
</body>
<script src="{{asset 'assets/built/casper.js'}}" async></script>
</html>
